@page "/category-create"
@inject HttpClient Http
@inject NavigationManager Navigation 
 
<h3>Create</h3>

<EditForm Model="category" OnValidSubmit="CreateCategory">
    <div class="form-group">
        <label>Name</label>
        <InputText class="form-control" @bind-Value="category.Name"></InputText>
    </div>
    <button type="submit" class="btn btn-success"><span class="oi oi-chevron-right mr-2"></span>Accept</button>
</EditForm>

@code {
    public Category category = new Category();


    async Task CreateCategory()
    {
        await Http.PostAsJsonAsync("Category", category);
        Navigation.NavigateTo("categories");
    }
}
