@page "/category-edit"

<h3>Edit</h3>

<EditForm Model="category">
    <div class="form-group">
        <label>Name</label>
        <InputText class="form-control" @bind-Value="category.Name"></InputText>
    </div>
</EditForm>

@code {
    public Category category { get; set; }
}
