@page "/categories"
@inject HttpClient Http
@inject SweetAlertService Swal

<h3>Categories</h3>
<a class="btn btn-primary" href="category-create"><span class="oi oi-plus mr-2"></span>Create</a>
<br />
<br />

@if (categories == null)
{
    <p>Loading items...</p>
}
else if (categories.Length == 0)
{
    <p>No items</p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var category in categories)
            {
                <tr>
                    <td>@category.Id</td>
                    <td>@category.Name</td>
                    <td>
                        <button class="btn btn-danger" @onclick="@(()=>DeleteCategory(category.Id))"><span class="oi oi-delete mr-2"></span>Delete</button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

<div class="dropdown">
    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <span class="oi oi-data-transfer-download mr-2"></span>
        Export
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
        <button class="dropdown-item" type="button">CSV</button>
        <button class="dropdown-item" type="button">Excel</button>
        <button class="dropdown-item" type="button">PDF</button>
    </div>
</div>

@code {
    Category[] categories;

    protected override async Task OnInitializedAsync()
    {
        await LoadCategories();
    }

    async Task LoadCategories()
    {
        categories = await Http.GetFromJsonAsync<Category[]>("Category");
    }

    async Task DeleteCategory(int id)
    {
        var c = await Http.GetFromJsonAsync<Category>($"Category/{id}");
        var result = await Swal.FireAsync(new SweetAlertOptions()
        {
            Title = "Confirm",
            Text = $"Are you sure you want to delete the category \"{c.Name}\"?",
            Icon = SweetAlertIcon.Warning,
            ConfirmButtonText = "Yes",
            CancelButtonText = "No",
            ShowCancelButton = true
        });

        if (!string.IsNullOrEmpty(result.Value))
        {
            await Http.DeleteAsync($"Category/{id}");
            await LoadCategories();
        }
    }
}
